<!-- Primary launchfile for onboard computers -->
<launch>
  <!-- Arguments -->
  <arg name="namespace" default="drone_1"/>

  <arg name="use_fluid_fsm" default="true"/>
  <arg name="use_control_kalman" default="true"/>

  <!-- Launch files -->
  <group ns="$(arg namespace)">
    <!-- AI Nodes -->

    <!-- Control Nodes -->
    <include file="$(find fluid_fsm)/launch/server_gazebo.launch" if="$(arg use_fluid_fsm)"/>
    <include file="$(find kalman_filter)/launch/kalman.launch" if="$(arg use_control_kalman)"/>

    <!-- Perception Nodes -->

    <!-- Misc -->

  </group>
</launch>
