<!-- Primary launchfile for onboard computers -->
<launch>
  <!-- Arguments -->
  <arg name="namespace" default="drone_1"/>

  <arg name="use_fluid_fsm" default="true"/>
  <arg name="fluid_fsm_fcu_url" default="/dev/ttyUSB0:921600"/> <!-- TODO: should explicitly use ACM driver -->



  <!-- Launch files -->
  <group ns="$(arg namespace)">
    <!-- AI Nodes -->

    <!-- Control Nodes -->
    <include file="$(find fluid_fsm)/launch/fluid_fsm.launch" if="$(arg use_fluid_fsm)">
      <arg name="fcu_url" value="$(arg fluid_fsm_fcu_url)"/>
    </include>

    <!-- Perception Nodes -->

    <!-- Misc -->

  </group>
</launch>
